[submodule ".registry"]
	path = .registry
	url = https://github.com/knygren/knygren.r-universe.dev
	branch = HEAD
[submodule "glmbayes"]
	path = glmbayes
	url = https://github.com/knygren/glmbayes
[submodule "glmbayesCore"]
	path = glmbayesCore
	url = https://github.com/knygren/glmbayesCore
[submodule "lmebayes"]
	path = lmebayes
	url = https://github.com/knygren/lmebayes
[submodule "lmebayesCore"]
	path = lmebayesCore
	url = https://github.com/knygren/lmebayesCore
[submodule "nmathopencl"]
	path = nmathopencl
	url = https://github.com/knygren/nmathopencl
[submodule "opencltools"]
	path = opencltools
	url = https://github.com/knygren/opencltools
